   


<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 justify-items-center pt-16 mx-14 my-16 pb-32">
  <app-card title="PERFIL PERSONAL" imageSrc="avatar.png"></app-card>
  <app-card title="REGISTRO DE PROGRAMAS" imageSrc="portapapeles.png"></app-card>
  <app-card title="DOCENTES" imageSrc="avatar.png"></app-card>
  <app-card title="POSTULANTES" imageSrc="avatar.png"></app-card>
  <app-card title="PROGRAMAS" imageSrc="programacion.png"></app-card>
  <app-card title="CERTIFICACION DOCENTE" imageSrc="control-de-calidad.png"></app-card>
</div>
  

  




